<div class="story-body">
  <p>Build a portfolio website using sawhorse. This website should include:</p>
  <ul>
    <li>Two of your projects from this summer converted into D3</li>
    <li>Your "best" graphic redone as ai2html (you did this already, see Homework 01, you just need to insert it into your sawhorse template)</li>
  </ul>
  <p>Host this as a live website using GitHub Pages.<br><br>

It's OK for redo your ai2html project as a D3 project, just make sure it's up there both as an ai2html project and as a D3 project.<br><br>

Submit the URL to your live website (not the GitHub repo).</p>
  <!-- If you use images, the path is just images/___ -->
  {{!-- <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p>Each D3 graphic needs:</p>
  <ul>
    <li>Title and subhead (although this can be in the text instead of in the graphic)</li>
    <li>To look awesome</li>
    <li>At least one annotation <b>or</b> tooltips</li>
  </ul>
</div>