<div class="story-body">
    <h2>Billboard - Year-End Charts</h2>
    <p>Turning a static scatter plot into an interactive D3 chart.</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>

{{!-- <div class="story-body">
    <h2>Headline Here</h2>
    <p>Lorem Ipsum Orwhateva.</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/chart-02.js"></script> --}}