<div class="story-body">
    <h2>Madonna's Longevity Based on Billboard Year-End Rankings</h2>
    <p>Turning a static scatter plot into an interactive D3 chart.</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>