<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <style>
            body {
            margin:auto;
            padding:50px 10px;
            font-family: 'Open Sans', sans-serif;
            }

            .hover {
            background-color: #708090;
            padding: 10px;
            border-radius: 10px;
            opacity: .8
            }

            a:link {
                text-decoration: none
            }

            a:link,
            a:visited {
                color: #87c0b0
            }

            a:hover {
                color: teal
            }

            a:active {
                color: #81b0d4
            }

            .navbar {
                background-color: rgba(0, 0, 0, .075) !important;
            }

            a.nav-link {
                color: #6c757d !important;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://aow207.github.io/data-storytelling/d3-portfolio/docs/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://aow207.github.io/data-storytelling/d3-portfolio/Snapchat/">Snapchat</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://aow207.github.io/data-storytelling/d3-portfolio/scrollytelling/docs/">Scrollytelling</a>
                </li>
            </ul>
        </nav>
    </body>
</html>